@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap");

html {
  /* stretches linear-gradient across whole page */
  height: 100%;
}

button {
  /* sets google font */
  font-family: "Bebas Neue";
  font-size: 100%;
  margin-top: 8px;
}

.page {
  background-image: linear-gradient(pink, snow);
  /* ensures gradient is stetched across page and does not repeat */
  background-repeat: no-repeat;
}

select, form.select {
  font-family: "Bebas Neue";
  padding: 5px 10px;
  font-size: 100%;
  margin-top: 8px;
  border: 3px;
  border-color: black;
  box-sizing: border-box;
  border-radius: 5px;
}

li, p, input {
  font-family: "Bebas Neue";
  font-size: 100%;
  margin-bottom: 0px;
}

input {
  /* sets google font for input (submit button) */
  font-size: 100%;
  background: snow;
}

footer {
  margin-top: -12px;
}

.head {
  /* sets google font */
  font-family: "Anton", sans-serif;
  /* add background image to header */
  /* ensures background image stretches across page
    and does not repeat */
  background-repeat: no-repeat;
  background-size: 100%;
}

.comments {
  margin-top: 20px;
  font-family: "Bebas Neue";
}

.comments-title {
  font-size: 30px;
  margin-bottom: 10px;
}

.comments-start-of-list {
  margin-top: 50px;
}

.comments-submit-title {
  font-size: 18px;
}

.comments-search-title {
  font-size: 22px;
  margin-top: 55px;
  margin-bottom: -5px;
}

.comment-textarea {
  width: 35%;
  height: 85px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(0, 0, 0);
}

.comments-search-textarea {
  width: 11%;
}

.comments-search-button {
  font-size: 100%;
  margin-left: 4px;
  background: rgb(0, 191, 216);
}

.comments-search-button:hover:enabled {
  cursor: pointer;
  background: rgb(0, 119, 135);
}

.comment-button {
  font-size: 100%;
  margin-top: 8px;
  background: rgb(0, 216, 0);
}

.comment-button:hover:enabled {
  cursor: pointer;
  background: rgb(0, 100, 20);
}

.comment-button:disabled {
  opacity: 0.8;
  cursor: default;
}

.comment-cancel-button {
  margin-left: 10px;
  background: rgb(255, 0, 0);
}

.comment-cancel-button:hover:enabled {
  cursor: pointer;
  background: rgb(117, 0, 0);
}

.comment {
  margin-bottom: 25px;
}

.profile {
  margin-top: 20px;
  font-family: "Anton", sans-serif;
  background: gainsboro;
}

.friends-list {
  margin-top: 20px;
  font-family: "Anton", sans-serif;
  background: gainsboro;
}

.comment-stretch {
  width: 100%;
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 10px;
  font-size: 20px;
  color: rgb(47, 177, 0);
}

.comment-date {
  font-size: 20px;
  color: rgb(0, 64, 255);
}

.comment-text {
  font-size: 16px;
  width: 35%;
  color: rgb(0, 0, 0);
  word-break: keep-all;
  margin-top: 4px;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  cursor: pointer;
  margin-top: 8px;
}

.comment-reply {
  margin-right: 8px;
  color: rgb(84, 84, 84);
}

.comment-edit {
  margin-right: 8px;
  color: rgb(202, 0, 202);
}
.comment-delete {
  margin-right: 8px;
  color: rgb(127, 0, 0);
}

.comment-reply:hover {
  text-decoration: underline;
}

.comment-edit:hover {
  text-decoration: underline;
}

.comment-delete:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 14px;
  margin-left: 22px;
}