@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap");

html {
  /* stretches linear-gradient across whole page */
  height: 100%;
}

.page {
  background-image: linear-gradient(pink, snow);
  /* ensures gradient is stetched across page and does not repeat */
  background-repeat: no-repeat;
}

.form {
  /* sets google font */
  font-family: "Bebas Neue";
  font-size: 120%;
}

button {
  /* sets google font */
  font-family: "Bebas Neue";
  font-size: 120%;
  margin-top: 8px;
}

select.rating {
  font-family: "Bebas Neue";
  padding: 5px 10px;
  font-size: 100%;
  margin-top: 8px;
  border: 3px;
  border-color: black;
  box-sizing: border-box;
  border-radius: 5px;
}

p {
  font-family: "Bebas Neue";
  font-size: 100%;
  margin-bottom: 0px;
}

input {
  /* sets google font for input (submit button) */
  font-family: "Bebas Neue";
  font-size: 120%;
  background: snow;
}

.head {
  /* sets google font */
  font-family: "Anton", sans-serif;
  /* add background image to header */
  /* ensures background image stretches across page
    and does not repeat */
  background-repeat: no-repeat;
  background-size: 100%;
}
